.probioticsalways,
.products {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 32px;
  text-transform: uppercase;
}
.probioticsalways {
  margin: 0;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  white-space: nowrap;
}
.products {
  display: inline-block;
  min-width: 42px;
}
.productsWrapper {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 9px;
}
.products1 {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 32px;
  text-transform: uppercase;
  display: inline-block;
  min-width: 84px;
}
.productsContainer {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 9px;
}
.products2 {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 32px;
  text-transform: uppercase;
  display: inline-block;
  min-width: 84px;
}
.productsFrame {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 9px;
  white-space: nowrap;
}
.products3 {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 32px;
  text-transform: uppercase;
  display: inline-block;
  min-width: 42px;
}
.frameDiv {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 9px;
}
.products4 {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 32px;
  text-transform: uppercase;
  display: inline-block;
  min-width: 104px;
}
.productsWrapper1 {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  white-space: nowrap;
}
.instanceParent {
  width: 596px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  font-size: 16px;
}
.userIcon,
.userIcon1 {
  height: 29px;
  width: 29px;
  position: relative;
  border-radius: 42.59px;
  overflow: hidden;
  flex-shrink: 0;
}
.userIcon1 {
  height: 36px;
  width: 36px;
  border-radius: 52.88px;
}
.probioticsalwaysParent,
.userParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.userParent {
  width: 88px;
}
.probioticsalwaysParent {
  align-self: stretch;
  gap: 20px;
  max-width: 100%;
}
.productListing1Child {
  width: 369px;
  height: 357px;
  position: relative;
  display: none;
  max-width: 100%;
  z-index: 1;
}
.frameChild {
  height: 12.5px;
  width: 12.5px;
  position: relative;
}
.productListing1Inner {
  width: 224.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.frameItem {
  width: 1920px;
  height: 453px;
  position: relative;
  background-color: #f9f9f9;
  display: none;
  max-width: 100%;
}
.discoverOurWellness {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.discoverOurWellnessWrapper {
  width: 950px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 73px;
  box-sizing: border-box;
  max-width: 100%;
}
.exploreOurCurated {
  margin: 0;
  width: 950px;
  position: relative;
  font-size: 22px;
  line-height: 32px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.frameWrapper,
.rectangleParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangleParent {
  flex: 1;
  background-color: #f9f9f9;
  flex-direction: column;
  padding: 156px 470px 155px;
  gap: 24px;
}
.frameWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 112px;
  text-align: center;
  font-size: 45px;
  color: #343434;
  font-family: "Proxima Nova";
}
.instanceChild {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f5f0e9;
}
.customerReviews {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.customerReviewsWrapper {
  width: 748px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.frameInner {
  height: 67px;
  width: 67px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}
.alexandra,
.newYorkNy {
  align-self: stretch;
  position: relative;
  line-height: 120%;
}
.newYorkNy {
  font-size: 14px;
  line-height: 17px;
  color: #98a4ae;
}
.alexandraParent,
.ellipseParent {
  display: flex;
  justify-content: flex-start;
}
.alexandraParent {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  min-width: 105px;
}
.ellipseParent {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  padding: 0 32px 0 0;
  gap: 12px;
}
.greenVitalityBlend {
  align-self: stretch;
  position: relative;
  line-height: 24px;
}
.vectorIcon,
.vectorIcon1,
.vectorIcon2,
.vectorIcon3,
.vectorIcon4 {
  height: 25.4px;
  width: 25.4px;
  position: relative;
  border-radius: 1.78px;
  min-height: 25px;
}
.fiveStar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon {
  width: 45px;
  height: 28px;
  position: absolute;
  margin: 0 !important;
  top: 232px;
  left: 218px;
  object-fit: contain;
}
.frameContainer {
  width: 272px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: 12px;
}
.ellipseIcon {
  height: 67px;
  width: 67px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}
.austinTx,
.michael {
  align-self: stretch;
  position: relative;
  line-height: 120%;
}
.austinTx {
  font-size: 14px;
  line-height: 17px;
  color: #98a4ae;
}
.ellipseGroup,
.michaelParent {
  display: flex;
  justify-content: flex-start;
}
.michaelParent {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  min-width: 105px;
}
.ellipseGroup {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  padding: 0 32px 0 0;
  gap: 12px;
}
.pureGlowCollagen {
  align-self: stretch;
  position: relative;
  line-height: 24px;
}
.vectorIcon5,
.vectorIcon6,
.vectorIcon7,
.vectorIcon8,
.vectorIcon9 {
  height: 25.4px;
  width: 25.4px;
  position: relative;
  border-radius: 1.78px;
  min-height: 25px;
}
.fiveStar1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon1 {
  width: 45px;
  height: 28px;
  position: absolute;
  margin: 0 !important;
  top: 232px;
  left: 218px;
  object-fit: contain;
}
.frameParent1 {
  width: 272px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  gap: 12px;
}
.frameChild1 {
  height: 67px;
  width: 67px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}
.emily,
.newYorkNy1 {
  align-self: stretch;
  position: relative;
  line-height: 120%;
}
.newYorkNy1 {
  font-size: 14px;
  line-height: 17px;
  color: #98a4ae;
}
.ellipseContainer,
.emilyParent {
  display: flex;
  justify-content: flex-start;
}
.emilyParent {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  min-width: 105px;
}
.ellipseContainer {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  padding: 0 32px 0 0;
  gap: 12px;
}
.moodMagicGummies {
  align-self: stretch;
  position: relative;
  line-height: 24px;
}
.vectorIcon10,
.vectorIcon11,
.vectorIcon12,
.vectorIcon13,
.vectorIcon14 {
  height: 25.4px;
  width: 25.4px;
  position: relative;
  border-radius: 1.78px;
  min-height: 25px;
}
.fiveStar2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon2 {
  width: 45px;
  height: 28px;
  position: absolute;
  margin: 0 !important;
  top: 232px;
  left: 218px;
  object-fit: contain;
}
.frameParent2 {
  width: 272px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  gap: 12px;
}
.frameChild2 {
  height: 67px;
  width: 67px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}
.carlos,
.miamiFl {
  align-self: stretch;
  position: relative;
  line-height: 120%;
}
.miamiFl {
  font-size: 14px;
  line-height: 17px;
  color: #98a4ae;
}
.carlosParent,
.ellipseParent1 {
  display: flex;
  justify-content: flex-start;
}
.carlosParent {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  min-width: 105px;
}
.ellipseParent1 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  padding: 0 32px 0 0;
  gap: 12px;
}
.sleepSerenityCapsules {
  align-self: stretch;
  position: relative;
  line-height: 24px;
}
.vectorIcon15,
.vectorIcon16,
.vectorIcon17,
.vectorIcon18,
.vectorIcon19 {
  height: 25.4px;
  width: 25.4px;
  position: relative;
  border-radius: 1.78px;
  min-height: 25px;
}
.fiveStar3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon3 {
  width: 45px;
  height: 28px;
  position: absolute;
  margin: 0 !important;
  top: 232px;
  left: 218px;
  object-fit: contain;
}
.frameGroup,
.frameParent3 {
  display: flex;
  align-items: flex-start;
}
.frameParent3 {
  width: 272px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  gap: 12px;
}
.frameGroup {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  text-align: left;
  font-size: 16px;
}
.frameParent {
  width: 1536px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 44px;
  max-width: 100%;
  z-index: 1;
}
.rectangleGroup {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 146px 20px 145.6px;
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
  z-index: 3;
  text-align: center;
  font-size: 42px;
  color: #343434;
  font-family: "Proxima Nova";
}
.instanceGroup,
.productListing1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.instanceGroup {
  margin: 0 !important;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  z-index: 1;
}
.productListing1 {
  position: relative;
  background-color: #fff;
  overflow: hidden;
  padding: 84px 192px 354.5px;
  box-sizing: border-box;
  gap: 5571px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: 24px;
  color: #fff;
  font-family: "IBM Plex Mono";
}
@media screen and (max-width: 1575px) {
  .frameGroup {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 1275px) {
  .instanceParent {
    display: none;
  }
  .discoverOurWellnessWrapper {
    padding-left: 36px;
    padding-right: 36px;
    box-sizing: border-box;
  }
  .productListing1,
  .rectangleParent {
    padding-left: 235px;
    padding-right: 235px;
    box-sizing: border-box;
  }
  .productListing1 {
    gap: 2785px;
    padding-left: 96px;
    padding-right: 96px;
  }
}
@media screen and (max-width: 825px) {
  .discoverOurWellness {
    font-size: 36px;
    line-height: 43px;
  }
  .rectangleParent {
    padding-left: 117px;
    padding-right: 117px;
    box-sizing: border-box;
  }
  .customerReviews {
    font-size: 34px;
    line-height: 40px;
  }
  .frameParent {
    gap: 22px;
  }
  .productListing1 {
    gap: 1393px;
    padding-left: 48px;
    padding-right: 48px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .probioticsalways {
    font-size: 19px;
    line-height: 26px;
  }
  .discoverOurWellness {
    font-size: 27px;
    line-height: 32px;
  }
  .exploreOurCurated {
    font-size: 18px;
    line-height: 26px;
  }
  .rectangleParent {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .customerReviews {
    font-size: 25px;
    line-height: 30px;
  }
  .ellipseContainer,
  .ellipseGroup,
  .ellipseParent,
  .ellipseParent1 {
    flex-wrap: wrap;
  }
}
