.instanceWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 112px;
  box-sizing: border-box;
  max-width: 100%;
}
