.keyFeatures {
  margin: 0;
  width: 308px;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.featuresHeading,
.frameGroup {
  align-self: stretch;
  display: flex;
  flex-direction: row;
}
.featuresHeading {
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
}
.frameGroup {
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
  text-align: left;
  font-size: 22px;
}
.featuresHeadingParent,
.frameContainer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 44px;
  max-width: 100%;
}
.frameContainer {
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: 20px;
}
.frameParent,
.frameWrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameParent {
  width: 1535px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 103px;
}
.frameWrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px 112px;
  box-sizing: border-box;
  text-align: center;
  font-size: 32px;
  color: #343434;
  font-family: "Proxima Nova";
}
@media screen and (max-width: 1750px) {
  .frameGroup {
    justify-content: center;
  }
  .frameContainer,
  .frameGroup {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 900px) {
  .keyFeatures {
    font-size: 26px;
    line-height: 31px;
  }
  .featuresHeadingParent {
    gap: 22px;
  }
  .frameParent {
    gap: 51px;
  }
}
@media screen and (max-width: 450px) {
  .keyFeatures {
    font-size: 19px;
    line-height: 23px;
  }
  .frameParent {
    gap: 26px;
  }
}
