.frameChild {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.diveIntoA,
.empowerYourJourney {
  align-self: stretch;
  position: relative;
}
.empowerYourJourney {
  margin: 0;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.diveIntoA {
  font-size: 16px;
  line-height: 24px;
}
.button {
  width: 186px;
  height: 56px;
}
.empowerYourJourneyParent,
.rectangleParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.empowerYourJourneyParent {
  width: 621px;
  flex-direction: column;
  gap: 24px;
  z-index: 1;
}
.rectangleParent {
  align-self: stretch;
  flex-direction: row;
  padding: 131px 192px;
  box-sizing: border-box;
  position: relative;
  min-height: 661px;
  text-align: left;
  font-size: 42px;
  color: #343434;
  font-family: "Proxima Nova";
}
@media screen and (max-width: 1300px) {
  .rectangleParent {
    padding-left: 96px;
    padding-right: 96px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .empowerYourJourney {
    font-size: 34px;
    line-height: 40px;
  }
  .rectangleParent {
    padding-left: 48px;
    padding-right: 48px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .empowerYourJourney {
    font-size: 25px;
    line-height: 30px;
  }
  .rectangleParent {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
}
