.frameChild {
  height: 874px;
  width: 1920px;
  position: relative;
  background-color: #efefef;
  display: none;
  max-width: 100%;
}
.frameItem {
  height: 560.4px;
  flex: 1;
  border-radius: 8px;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 502px;
}
.embarkOnA,
.frameItem,
.yourPathTo {
  position: relative;
  z-index: 1;
}
.yourPathTo {
  margin: 0;
  align-self: stretch;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.embarkOnA {
  width: 578px;
  font-size: 16px;
  line-height: 24px;
  display: inline-block;
  max-width: 100%;
}
.yourPathToHolisticWellnessParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  max-width: 100%;
}
.button {
  width: 243.4px;
  height: 64px;
  z-index: 1;
}
.frameParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 36px;
  max-width: 100%;
}
.frameContainer,
.frameWrapper,
.rectangleParent {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.frameContainer {
  width: 637px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 126.7px 0 0;
  min-width: 637px;
}
.frameWrapper,
.rectangleParent {
  flex-direction: row;
}
.rectangleParent {
  flex: 1;
  background-color: #efefef;
  justify-content: center;
  padding: 156.8px 192px;
  gap: 126px;
}
.frameWrapper {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 112px;
  text-align: left;
  font-size: 32px;
  color: #3b6003;
  font-family: "Proxima Nova";
}
@media screen and (max-width: 1575px) {
  .frameItem {
    min-width: 100%;
  }
  .frameContainer {
    flex: 1;
    min-width: 100%;
  }
  .rectangleParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1275px) {
  .rectangleParent {
    gap: 63px;
    padding-left: 96px;
    padding-right: 96px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 825px) {
  .yourPathTo {
    font-size: 26px;
    line-height: 31px;
  }
  .frameParent {
    gap: 18px;
  }
  .rectangleParent {
    gap: 31px;
    padding-left: 48px;
    padding-right: 48px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .yourPathTo {
    font-size: 19px;
    line-height: 23px;
  }
  .rectangleParent {
    gap: 16px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
}
