.frameChild {
  height: 67px;
  width: 67px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}
.alexandra,
.newYorkNy {
  align-self: stretch;
  position: relative;
  line-height: 120%;
}
.newYorkNy {
  font-size: 14px;
  line-height: 17px;
  color: #98a4ae;
}
.alexandraParent,
.ellipseParent {
  display: flex;
  justify-content: flex-start;
}
.alexandraParent {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  min-width: 105px;
}
.ellipseParent {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  padding: 0 32px 0 0;
  gap: 12px;
}
.greenVitalityBlend {
  align-self: stretch;
  position: relative;
  line-height: 24px;
}
.vectorIcon,
.vectorIcon1,
.vectorIcon2,
.vectorIcon3,
.vectorIcon4 {
  height: 25.4px;
  width: 25.4px;
  position: relative;
  border-radius: 1.78px;
  min-height: 25px;
}
.fiveStar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon {
  width: 45px;
  height: 28px;
  position: absolute;
  margin: 0 !important;
  top: 232px;
  left: 218px;
  object-fit: contain;
}
.frameParent {
  width: 272px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: 12px;
  text-align: left;
  font-size: 16px;
  color: #343434;
  font-family: "Proxima Nova";
}
@media screen and (max-width: 450px) {
  .ellipseParent {
    flex-wrap: wrap;
  }
}
