.frameChild {
  height: 25px;
  width: 25px;
  position: relative;
  object-fit: contain;
}
.organicSuperfoodFusion {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: calc(100% - 37px);
}
.frameGroup {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
  max-width: 100%;
}
.greenVitalityBlend {
  flex: 1;
  position: relative;
  line-height: 24px;
  display: inline-block;
  max-width: 100%;
}
.frameParent,
.greenVitalityBlendCombinesWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.greenVitalityBlendCombinesWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 37px;
  box-sizing: border-box;
  font-size: 16px;
}
.frameParent {
  width: 387px;
  flex-direction: column;
  gap: 11px;
  text-align: left;
  font-size: 22px;
  color: #343434;
  font-family: "Proxima Nova";
}
@media screen and (max-width: 450px) {
  .organicSuperfoodFusion {
    font-size: 18px;
    line-height: 21px;
  }
}
