.naturesFinestIngredients {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.atTheHeart,
.blankLine,
.ourCommitmentTo {
  margin: 0;
}
.atTheHeartContainer {
  width: 696px;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  display: inline-block;
  max-width: 100%;
}
.frameWrapper,
.naturesFinestIngredientsParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.naturesFinestIngredientsParent {
  align-self: stretch;
  gap: 24px;
}
.frameWrapper {
  width: 712px;
  padding: 75.5px 0 0;
  box-sizing: border-box;
  min-width: 712px;
}
.maskGroupIcon,
.maskGroupIcon1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  min-width: 237px;
  min-height: 405px;
}
.frameGroup,
.maskGroupParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.maskGroupParent {
  flex: 1;
  gap: 20px;
  min-width: 486px;
}
.frameGroup {
  align-self: stretch;
  gap: 76px;
}
.maskGroupIcon2 {
  height: 596px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 486px;
}
.precisionInFormulation {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.blankLine1,
.craftingThePerfect,
.probioticHarmonyIs {
  margin: 0;
}
.craftingThePerfectContainer {
  width: 696px;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  display: inline-block;
  max-width: 100%;
}
.precisionInFormulationParent,
.precisionInner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.precisionInFormulationParent {
  align-self: stretch;
  gap: 24px;
}
.precisionInner {
  width: 712px;
  padding: 183px 0 0;
  box-sizing: border-box;
  min-width: 712px;
}
.precision {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: 76px;
}
.frameParent,
.ingredients,
.precision {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameParent {
  width: 1536px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 112px;
}
.ingredients {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px 112px;
  box-sizing: border-box;
  text-align: left;
  font-size: 32px;
  color: #000;
  font-family: "Proxima Nova";
}
@media screen and (max-width: 1650px) {
  .frameWrapper {
    flex: 1;
  }
  .frameGroup {
    flex-wrap: wrap;
  }
  .precisionInner {
    flex: 1;
  }
  .precision {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1300px) {
  .frameWrapper,
  .maskGroupIcon2,
  .maskGroupParent,
  .precisionInner {
    min-width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .naturesFinestIngredients {
    font-size: 26px;
    line-height: 31px;
  }
  .maskGroupParent {
    flex-wrap: wrap;
  }
  .frameGroup {
    gap: 38px;
  }
  .precisionInFormulation {
    font-size: 26px;
    line-height: 31px;
  }
  .precision {
    gap: 38px;
  }
  .frameParent {
    gap: 56px;
  }
}
@media screen and (max-width: 450px) {
  .naturesFinestIngredients {
    font-size: 19px;
    line-height: 23px;
  }
  .frameGroup {
    gap: 19px;
  }
  .precisionInFormulation {
    font-size: 19px;
    line-height: 23px;
  }
  .precision {
    gap: 19px;
  }
  .frameParent {
    gap: 28px;
  }
}
